name: CI

on: [push]

jobs:
  sast_scan:
    name: Run Bandit Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit Scan with Metrics
        run: bandit -ll -ii -r . -f txt -o bandit-report.txt
        continue-on-error: true

      - name: Display Bandit Report
        run: cat bandit-report.txt
